langchain
langchain-classic
langchain-core
langchain-text-splitters
langchain_community
langchain-google-genai
langchain_openai
python-dotenv
ipykernel
langgraph
langgraph-checkpoint-sqlite
tavily-python
unstructured
chromadb
rank_bm25
langsmith
langgraph-cli
fastapi
uvicorn[standard]
supabase